header {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    padding-bottom: 10px;
}

body {
    background-color: antiquewhite;
}

#ui-button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#reset {
    background-color: rgb(205, 227, 247);
    border-radius: 0.5em;
}

#canvas-border {
    display: flex;
    justify-content: center;
}

#canvas {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 600px;
}

.cell {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.column {
    border: 1px solid;
    min-height: 4px;
    min-width: 4px;
    margin-top: 1px;
    margin-right: 1px;
    background-color: white;
    flex: auto;
}