header {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    padding-bottom: 10px;
}

#canvas {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 600px;
}

.cell {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.column {
    border: 1px solid;
    min-height: 4px;
    min-width: 4px;
    margin-top: 1px;
    margin-right: 1px;
    flex: auto;
}

.column:hover {
    background-color: aqua;
}